div.angularjs-console-terminal
{
    height:200px;
    background:#333;
    padding:0.5em;

    overflow:auto;
    word-wrap: break-word;
    font-size: 14px;
}

div.angularjs-console-terminal span.angularjs-console-welcome-message
{
    color: #ffd700;
    font-family: monospace;
    font-weight: bold
}

div.angularjs-console-terminal div.angularjs-console-command-block
{
    color:#fff;
    font-family:monospace;
}

div.angularjs-console-terminal span.angularjs-console-prompt-label
{
    font-weight:bold
}

div.angularjs-console-terminal span.angularjs-console-cursor
{
    background:#fefefe;
    color:#333;
    font-weight:bold
}

div.angularjs-console-terminal span.angularjs-console-invalid-warning
{
    color:#ef0505;
    font-family:sans-serif;
}

div.angularjs-console-terminal span.angularjs-console-valid-complete
{
    color:#1ad027;
    font-family:sans-serif;
}
