div.solean-terminal
{
    height:200px;
    background:#333;
    padding:0.5em;

    overflow:auto;
    word-wrap: break-word;
    font-size: 14px;
}

div.solean-terminal span.solean-welcome-message
{
    color: #ffd700;
    font-family: monospace;
    font-weight: bold
}

div.solean-terminal div.solean-command-block
{
    color:#fff;
    font-family:monospace;
}

div.solean-terminal span.solean-prompt-label
{
    font-weight:bold
}

div.solean-terminal span.solean-cursor
{
    background:#fefefe;
    color:#333;
    font-weight:bold
}

div.solean-terminal span.solean-invalid-warning
{
    color:#ef0505;
    font-family:sans-serif;
}

div.solean-terminal span.solean-valid-complete
{
    color:#1ad027;
    font-family:sans-serif;
}
